.filter__label{
    font-size: 20px;
    font-weight: 700;
    
}
/* .filter__input{
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30px;
    height: 25px;
    width: 250px;
}
.filter__input:hover{
    border-color:rgb(63, 196, 248) ;
} */
/* .filter__wrapper{
    display: flex;
} */