.navigation{
    display: grid;
    margin-top: 50px;
    justify-content: center;
    

}
.navigation__tittle{
    font-size: 40px;
}
.navigation__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 20px;
}
.navigation__wrapper a{
     border-radius: 4px;
  padding: 10px 20px;
  /* margin-right: 10px; */
  text-decoration: none;
}
