.App {
  /* display:flex;
  margin-left: 30px;
  margin-top: 50px; */
color:#fff;
}
.loading{
  font-size:40px;
  margin: top 20px;
}
*{
  font-family: 'Montserrat', sans-serif;

}
.root{
 background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover
}