.contact__list{
    display: block;
    list-style-type: none;
    font-size: 19px; 
     margin-left: 0px;
     padding: 0;
     flex-wrap: wrap;
}
.button__delete{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-right: 5px;
    box-sizing: border-box;
    width: 100px;
    height: 25px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
   
}
.button__delete:hover{
    background-color: #7600dc;
    color: white;
}
.contact__item{
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
 
}
.addNewContact{
    margin-top:50px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: 500;
}