.contact__list{
    list-style-type: none;
    font-size: 19px; 
    width: 500px;
     position: relative;
     margin-left: 0px;
     padding: 0;
}
.button__delete{
    margin-left: 30px;
    box-sizing: border-box;
    width: 130px;
    height: 20px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    position: absolute;
    right: 10px;
}
.button__delete:hover{
    background-color: rgb(63, 196, 248);
    color: white;
}
.contact__item{
    margin-top: 10px;
}
.addNewContact{
    margin-top:50px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: 500;
}