.button__logout{
      border-radius: 4px;
     border: none;

  max-height: 40px;
  color: #fff;
background: #7600dc;
max-width: 100px;
margin-bottom: 10px;

}
.userMenu__wrapper{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
     display: flex;
     flex: row;
    justify-content: space-between;
}
.userMenu__info{
    font-size: 18px;
    font-weight: 600;
}
.userMenu__userData{
    display: flex;
    flex-direction: column;
}